@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #000300;
}

@media only screen and (max-width: 190px) {
  .small-res {
    transform: scale(0.9);
    transition: all;
    padding: 20px;
  }
}
@media only screen and (max-width: 50px) {
  .small-res {
    transform: scale(0.2);
    transition: all;
    padding: 20px;
  }
}
@media only screen and (min-width: 195px) {
  .navbarMb200 {
    width: 80%;
  }
  .Footer200 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 195px) {
  .navbarMb200 {
    width: 80%;
  }
  .Footer200 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media only screen and (min-width: 350px) {
  .navbarMb200 {
    width: 50%;
  }
  .Footer200 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
